params {

    // pipeline parameters
    aligner = "bowtie2"
    reference_db = "${projectDir}/data/ref/Col-CEN/"
    sra_accessions_list = "${projectDir}/data/demo/sra_accessions_list.txt"


    // templates
    failed_run_report_template = "${projectDir}/assets/failed_sra_runs.template.html"

    // output
    outdir                     = './results'


}
